    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: #00b894;
    }

    @font-face {
        font-family: 'Droid Android';
        src: url('./fontes/idroid.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @media (max-width: 1000px){
        .iframe {
          width: 80%;
        }
    }
    
    .container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }


    header {
        font-family: Arial, sans-serif;
        color: #FFF;
        height: 160px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        background-color: #1A5C38;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.753);
        background-image: linear-gradient(to top, transparent, rgba(58, 238, 184, 0.795));
    }

    header h1 {
        margin: 10px 0px 20px 0px;
    }

    header nav {
        display: flex;

    }

    nav a {
        font-size: 16px;
        font-weight: 600;
        color: #FFF;
        padding: 5px;
        text-decoration: none;
        transition: opacity 0.5s;
    }

    nav a:hover {
        opacity: 0.7;
    }

    .main-container {
        display: flex;
        flex: 1;
        background-color: #84E1AD;
        justify-content: center;
    }

    .content-main {
        display: flex;
        flex-direction: column;
        width: 700px;
        background-color: #FFF;
    }

    .container-text {
        font-family: Arial, sans-serif;
        padding: 10px;
    }
    
    .container-text picture {
        display: flex;
        justify-content: center;
    }

    .container-text h2, h3{
        font-family: 'Droid Android', Arial, sans-serif;
        margin-bottom: 10px;
    }

    .container-img img {
        width: 100%;
    }

    .iframe-container {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        width: 100%;
        background-color: #1A5C38;
        justify-content: center;
    }

    .iframe-container iframe {
        width: 600px;
        height: 315px;
        margin: 10px;
    }

    .footer-container {
        font-family: Arial, sans-serif;
        background-color: #a2e6bf;
        margin: 10px;
        border-radius: 5px;
    }

    .footer-container li {
        list-style: none;
    }

    .footer-container .container-title {
        background-color: #367a54;
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
    }

    .footer-container .container-title p {
        color: #FFF;
        font-weight: 500;
    }

    .footer-container .container-subtitle {
        padding: 10px;
        
    }

    /*nav {
        font-size: 13px;
        padding: 2px;
        text-align: left;
    }

    nav > a {
        text-decoration: blink;
        color: white;
        font-weight: bold;
        margin-right: 10px;
    }

    nav > a:hover {
	    background: #494cdd;
        border-radius: 10%;
        padding: 3px;
    }

    .container-text {
        padding: 5px 15px 5px 15px; 
    }

    .list-container {
        width: 100%;
        height: 100%;
        background-color: #63B788;
        padding: 10px;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        background-color: #84E1AD;
        }

    main {
        max-width: 50rem;
        color: black;
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        margin: 12px auto;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    h2{
        font-family: idroid;
        font-size: 30px;
        color: #1A5C38;
    }

    h3 {
        font-family: idroid;
        background-color:#a2e7c0;
        background-image: linear-gradient(to right, transparent, rgb(255, 255, 255));
        color: #1A5C38;
        text-align: left;
        font-size: 18px;
    }

    img {
        max-width: 100%;
      }

    footer {
        background-color: #63B788;
        color: white;
        text-align: center;
        padding: 4px;
    }

    footer > p {
        margin: 0px;
    }

    article {
        text-align: center;
    }

    #bugdroid {
        text-align: center;
    }

    #iframe {
        text-align: center;
        padding: 30px;
    }

    #background {
        background-color: #1A5C38;
    } */