@charset "UTF-8";

body {
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal    {
    text-align: center;
    background-color: rgb(4,109,0);
    color: white;
}

h2 {
    color: rgb(70, 100, 70);
}
