@charset "UTF-8";

body {
    background-color: #629BF0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #667AFA;
}

h1#principal    {
    text-align: center;
    background-color: #7968E3;
    color: #A2EAFA;
}

h2 {
    color: #62F07C;
}

.basico {
    color: red;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: blue;
}

.destaque {
    background-color: grey;
}