@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #506AD4, #A3CDD9);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 6px 6px 15px #90cbfbc7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #506AD4;
    text-shadow: 6px 6px 15px #90cbfba9;
}

h2 {
    color: #A3CDD9;
}

p {
    text-align: justify;
}